### Importação dos dados

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [ ]:
faturamento_loja1 = loja['Preço'].sum()
faturamento_loja2 = loja2['Preço'].sum()
faturamento_loja3 = loja3['Preço'].sum()
faturamento_loja4 = loja4['Preço'].sum()

print(f'O faturamento da loja 1 foi de R${faturamento_loja1}')
print(f'O faturamento da loja 2 foi de R${faturamento_loja2}')
print(f'O faturamento da loja 3 foi de R${faturamento_loja3}')
print(f'O faturamento da loja 4 foi de R${faturamento_loja4}')

print(f'O maior faturamento de todos foi de {max([faturamento_loja1,faturamento_loja2,faturamento_loja3,faturamento_loja4])}')

O faturamento da loja 1 foi de R$1534509.12
O faturamento da loja 2 foi de R$1488459.06
O faturamento da loja 3 foi de R$1464025.03
O faturamento da loja 4 foi de R$1384497.58
O maior faturamento de todos foi de 1534509.12

# 2. Vendas por Categoria

In [ ]:
vendas_por_categoria1 = loja['Categoria do Produto'].value_counts()
vendas_por_categoria2 = loja2['Categoria do Produto'].value_counts()
vendas_por_categoria3 = loja3['Categoria do Produto'].value_counts()
vendas_por_categoria4 = loja4['Categoria do Produto'].value_counts()

print(f'Os produtos mais vendidos da loja 1 são : {vendas_por_categoria1}')
print(f'As Categorias mais vendidas da loja 2 são : {vendas_por_categoria2}')
print(f'Os produtos mais vendidos da loja 3 são : {vendas_por_categoria3}')
print(f'Os produtos mais vendidos da loja 4 são : {vendas_por_categoria4}')

Os produtos mais vendidos da loja 1 são : Categoria do Produto
moveis                   465
eletronicos              448
brinquedos               324
eletrodomesticos         312
esporte e lazer          284
instrumentos musicais    182
livros                   173
utilidades domesticas    171
Name: count, dtype: int64
As Categorias mais vendidas da loja 2 são : Categoria do Produto
moveis                   442
eletronicos              422
brinquedos               313
eletrodomesticos         305
esporte e lazer          275
instrumentos musicais    224
livros                   197
utilidades domesticas    181
Name: count, dtype: int64
Os produtos mais vendidos da loja 3 são : Categoria do Produto
moveis                   499
eletronicos              451
brinquedos               315
eletrodomesticos         278
esporte e lazer          277
livros                   185
instrumentos musicais    177
utilidades domesticas    177
Name: count, dtype: int64
Os produtos mais vendidos da loja 4 são : Categoria do Produto
moveis                   480
eletronicos              451
brinquedos               338
esporte e lazer          277
eletrodomesticos         254
utilidades domesticas    201
livros                   187
instrumentos musicais    170
Name: count, dtype: int64

# 3. Média de Avaliação das Lojas

In [ ]:
media_loja1 = loja['Avaliação da compra'].mean()
media_loja2 = loja2['Avaliação da compra'].mean()
media_loja3 = loja3['Avaliação da compra'].mean()
media_loja4 = loja4['Avaliação da compra'].mean()

print(f'A média de avaliação da loja 1 foi de {media_loja1}')
print(f'A média de avaliação da loja 2 foi de {media_loja2}')
print(f'A média de avaliação da loja 3 foi de {media_loja3}')
print(f'A média de avaliação da loja 4 foi de {media_loja4}')

A média de avaliação da loja 1 foi de 3.976685036032217
A média de avaliação da loja 2 foi de 4.037303942348453
A média de avaliação da loja 3 foi de 4.048325561678677
A média de avaliação da loja 4 foi de 3.9957591178965224

# 4. Produtos Mais e Menos Vendidos

In [ ]:
contagem_loja1 = loja['Produto'].value_counts()

mais_vendido_loja1 = contagem_loja1.idxmax()
qtd_mais_loja1 = contagem_loja1.max()

menos_vendido_loja1 = contagem_loja1.idxmin()
qtd_menos_loja1 = contagem_loja1.min()

print("Loja 1")
print(f"Produto mais vendido: {mais_vendido_loja1} (Vendas: {qtd_mais_loja1})")
print(f"Produto menos vendido: {menos_vendido_loja1} (Vendas: {qtd_menos_loja1})")
print()

Loja 1
Produto mais vendido: Micro-ondas (Vendas: 60)
Produto menos vendido: Headset (Vendas: 33)

Loja 1
Produto mais vendido: Micro-ondas (Vendas: 60)
Produto menos vendido: Headset (Vendas: 33)

Loja 2
Produto mais vendido: Iniciando em programação (Vendas: 65)
Produto menos vendido: Jogo de tabuleiro (Vendas: 32)

Loja 3
Produto mais vendido: Kit banquetas (Vendas: 57)
Produto menos vendido: Blocos de montar (Vendas: 35)

Loja 4
Produto mais vendido: Cama box (Vendas: 62)
Produto menos vendido: Guitarra (Vendas: 33)

# 5. Frete Médio por Loja

In [ ]:
frete_loja1 = loja['Frete'].mean()
frete_loja2 = loja2['Frete'].mean()
frete_loja3 = loja3['Frete'].mean()
frete_loja4 = loja4['Frete'].mean()
print(f'O frete médio da loja 1 foi de R${frete_loja1}')
print(f'O frete médio da loja 2 foi de R${frete_loja2}')
print(f'O frete médio da loja 3 foi de R${frete_loja3}')
print(f'O frete médio da loja 4 foi de R${frete_loja4}')

O frete médio da loja 1 foi de R$34.69180491551149
O frete médio da loja 2 foi de R$33.62194065817927
O frete médio da loja 3 foi de R$33.07446427411743
O frete médio da loja 4 foi de R$31.278997081841727